.navbar {
  background-color: var(--primary-color);
  padding: 16px;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.navbar-items {
  list-style: none;
  display: flex;
  gap: 16px;
}

.navbar-item {
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
}

.navbar-item:hover {
  text-decoration: underline;
}
